<nav>
  <a href="http://localhost:3000/">Home</a>
    <a href="http://localhost:3000/courses">Courses</a>
    <a href="http://localhost:3000/students">Students</a>
    <a href="http://localhost:3000/students_courses">Students Courses</a>
  </nav>
  