<%- include('partials/header') %>

<body>
    <div class="front-container">
        <h1>Students and Courses register</h1>
        <div class="links">
            <a href="/students">View Students</a>
            <a href="/courses">View Courses</a>
            <a href="/students_courses">View Relations</a>
        </div>
    </div>
</body>
</html>

