<%- include('partials/header') %>

<body>
    <div class="front-container">
        <h1>Welcome to the Student and Course Management System</h1>
        <p>This is the start page.</p>
        <div class="links">
            <a href="/students">View Students</a>
            <a href="/courses">View Courses</a>
            <a href="/students_courses">View Relations</a>
        </div>
    </div>
</body>
</html>

